<ng-container *transloco="let translate">
  <div
    class="home-container"
    [ngClass]="{ loading: isLoading, loaded: !isLoading }">
    <h2>{{ translate('home.todayTrending') }}</h2>
    <p-carousel
      [value]="trendingItems"
      [numVisible]="5"
      [numScroll]="5"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="3000"
      [circular]="true">
      <ng-template let-item pTemplate="item">
        <div class="carousel-item">
          <img
            lazyload
            [src]="item.poster.replace('/original/', '/w500/')"
            [alt]="item.title"
            class="poster-image"
            (click)="openTmdbDetail(item)"
            (error)="
              item.poster = 'https://via.placeholder.com/500x750?text=No+Image'
            " />
          <div class="item-details">
            <h3>{{ item.title }}</h3>
            <p class="rating flex justify-between">
              <span>⭐ {{ item.rating }}</span>
              <span>{{ item.media_type }}</span>
            </p>
            <p class="overview">{{ item.overview }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <div *ngIf="isLoading" class="loading-spinner">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</ng-container>
